// [[ ATAC-Seq Pipeline Config ]]
params.config_directory = '/mnt/WorkingDos/nextflow_test2/ab_test/ATACSeq-NextFlow-Pipeline'
params.fastq_files = '/mnt/WorkingDos/nextflow_test2/ab_test/ATACSeq-NextFlow-Pipeline/fastq_files'
params.samples_file = '/mnt/WorkingDos/nextflow_test2/ab_test/ATACSeq-NextFlow-Pipeline/atac_seq_samples.txt'

// FastQC
params.fastqc_cores = 40

// Trim-galore output directory
params.tm_galore_cores = 5
params.reference_genome_directory = '/mnt/Annotation/refdata-gex-GRCh38-2020-A'

// Bowtie2 mapping - Genome Index
params.genome_index_directory = '/path/to/reference/genome/index/hg38'

// Picard Library or JAR filepath
params.picard_filepath = '/mnt/WorkingDos/nextflow_test2/ab_test/ATACSeq-NextFlow-Pipeline/misc/picard.jar'
params.hg38gn_filepath = '/mnt/WorkingDos/nextflow_test2/ab_test/ATACSeq-NextFlow-Pipeline/misc/hg38.chrom.sizes'
