// [[ ATAC-Seq Pipeline Config ]]
params.config_directory = '/path/to/config'
params.fastq_files = '/path/to/config/fastq_files'
params.samples_file = '/path/to/config/atac_seq_samples.txt'

// FastQC
params.fastqc_cores = 40

// Trim-galore output directory
params.tm_galore_cores = 5

params.reference_genome_directory = '/mnt/Annotation/refdata-gex-GRCh38-2020-A'
params.spaceranger_count_metadata_sheet = '/mnt/WorkingDos/marisol_saad_samples_10_19_23/counts_metadata.csv'

// Picard Library or JAR filepath
params.picard_filepath = '/path/to/config/picard.jar'
params.hg38gn_filepath = '/path/to/config/hg38.chrom.sizes'
